Repository enthali/esp32-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdown lint
        # markdownlint-cli is available globally via npm in the devcontainer
        entry: markdownlint --fix
        language: system
        types: [markdown]
        # Only run on markdown files in docs/ and root-level markdown files
        files: ^(docs/.*\.md|.*\.md)$
        stages: [pre-commit]
      - id: mkdocs-build
        name: MkDocs build (strict)
        # mkdocs is available in /opt/venv/bin in the devcontainer
        # Quiet mode suppresses INFO/DEBUG, only shows WARNING/ERROR
        entry: mkdocs build --strict
        language: system
        pass_filenames: false
        # Only run if docs/ or mkdocs.yml changed (skip for code-only commits)
        files: ^(docs/.*|mkdocs\.yml)$
        require_serial: true
        verbose: true
        stages: [pre-commit]

feat(prompts): Add API documentation generation prompt with detailed instructions and structure
  .github/prompts/generate-api-documentation.prompt.md
Due: markdownlint

feat(prompts): Update API documentation analysis prompt for clarity and structure
  .github/prompts/analyze-api-documentation.prompt.md
Due: markdownlint

feat(docs): Add detailed API documentation for Config Manager and update index
  docs/21_api/api_config_manager.rst
  docs/21_api/index.rst
Due: mkdocs-build

feat(netif_uart_tunnel): Enhance documentation for UART tunnel interface and initialization functions
  main/components/netif_uart_tunnel/netif_uart_tunnel_sim.h
Due: none

feat(config_manager): Enhance documentation for configuration functions with thread-safety notes
  main/components/config_manager/config_manager.h
Due: none

feat(docs): Add API documentation for Network Tunnel and Certificate Handler components
  docs/21_api/api_cert_handler.rst
  docs/21_api/api_netif_uart_tunnel.rst
  docs/21_api/index.rst
Due: mkdocs-build

feat(docs): remove breathe dependency from Dockerfile, action.yml, and requirements.txt
  .devcontainer/Dockerfile
  .github/actions/setup-coding-agent-env/README.md
  .github/actions/setup-coding-agent-env/action.yml
  docs/requirements.txt
Due: markdownlint, mkdocs-build

fix(script): update log file paths to use project directory instead of /tmp
  tools/network/ensure-network-stack.sh
Due: none

feat(devcontainer): update scripts to dynamically determine project directory
  tools/devcontainer/on-attach.sh
  tools/devcontainer/on-create.sh
  tools/devcontainer/on-start.sh
  tools/docu/build-docs.sh
  tools/docu/serve-docs.sh
  tools/qemu/run-qemu-network.sh
  tools/qemu/stop_qemu.sh
Due: none

chore(devcontainer): add documentation server auto-start and port forwarding
  .devcontainer/devcontainer.json
  tools/devcontainer/on-start.sh
  tools/docu/serve-docs.sh
Due: none

fix(scripts): update log file paths to use ./temp directory instead of root
  tools/devcontainer/on-attach.sh
  tools/devcontainer/on-create.sh
  tools/devcontainer/on-start.sh
Due: none

fix(devcontainer): create temp directory for logs on container creation
  tools/devcontainer/on-create.sh
Due: none

refactor(on-start.sh): remove network stack setup for QEMU
  tools/devcontainer/on-start.sh
Due: none

fix(on-start.sh, serve-docs.sh): start documentation server in background and log output
  tools/devcontainer/on-start.sh
  tools/docu/serve-docs.sh
Due: none

fix(launch.json, CMakeLists.txt): update project name handling in launch configuration
  .vscode/launch.json
  CMakeLists.txt
Due: none

refactor(template): improve template usability and reduce hardcoded project name
  README.md
  tools/README.md
  tools/web-flasher/README.md
Due: markdownlint

docs: major documentation cleanup and improvements
  .github/prompts/analyze-docu-consistency.prompt.md
  docs/90_guides/browser-access.md
  docs/90_guides/gui-development.rst
  docs/90_guides/index.rst
  docs/90_guides/known-issues.rst
  docs/90_guides/web-flasher.rst
Due: markdownlint, mkdocs-build

fix: resolve port conflict between doc server (8000) and web-flasher (8001)
  .devcontainer/devcontainer.json
  docs/90_guides/web-flasher.rst
  tools/README.md
  tools/web-flasher/README.md
  tools/web-flasher/flasher_server.py
  tools/web-flasher/generate-flasher-manifest.sh
  tools/web-flasher/start-web-flasher.sh
  tools/web-flasher/stop-web-flasher.sh
Due: markdownlint, mkdocs-build

feat(web-flasher): auto-build firmware if missing or incomplete
  tools/web-flasher/generate-flasher-manifest.sh
  tools/web-flasher/start-web-flasher.sh
Due: none

feat(vscode): add C/C++ IntelliSense configuration
  .gitignore
  .vscode/c_cpp_properties.json
Due: none

fix: update IDF initialization version to use environment variable
  .vscode/settings.json
  sdkconfig
Due: none

perf(qemu): skip unnecessary rebuilds when starting QEMU
  tools/qemu/run-qemu-graphics-run.sh
  tools/qemu/run-qemu-graphics.sh
Due: none

fix(qemu): move QEMU_READY marker after port check
  .vscode/tasks.json
  tools/qemu/run-qemu-graphics.sh
Due: none

refactor(qemu): update QEMU scripts and configurations for improved usability and clarity
  .vscode/launch.json
  .vscode/mcp.json
  .vscode/mcp.json.example
  .vscode/tasks.json
  sdkconfig
  tools/qemu/run-qemu-graphics-run.sh
  tools/qemu/run-qemu-graphics.sh
  tools/qemu/run-qemu-network.sh
  tools/qemu/run_qemu.sh
  tools/qemu/run_qemu_debug.sh
  tools/qemu/serial_tun_bridge.py
  tools/qemu/view_uart1.sh
Due: none

Refactor QEMU network scripts and implement HTTP proxy
  .vscode/tasks.json
  tools/qemu/network/ensure-network-stack.sh
  tools/qemu/network/http_proxy.py
  tools/qemu/network/serial_tun_bridge.py
  tools/qemu/run_qemu.sh
  tools/qemu/run_qemu_debug.sh
Due: none

fix(qemu): add cleanup for serial_tun_bridge and http_proxy processes in stop_qemu.sh
  tools/qemu/stop_qemu.sh
Due: none

feat(qemu): Improve QEMU infrastructure robustness and usability
  .vscode/tasks.json
  tools/qemu/network/ensure-network-stack.sh
  tools/qemu/network/http_proxy.py
  tools/qemu/network/serial_tun_bridge.py
  tools/qemu/stop_qemu.sh
  tools/qemu/uart0_terminal.sh
Due: none

fix(qemu): remove redundant view_uart1.sh script
  tools/qemu/view_uart1.sh
Due: none

feat(qemu): enhance QEMU startup scripts with build completion checks
  .vscode/tasks.json
  tools/qemu/run_qemu.sh
  tools/qemu/run_qemu_debug.sh
Due: none

refactor: update Kconfig and sdkconfig for improved clarity and maintainability
  main/Kconfig.projbuild
  sdkconfig
Due: none

refactor(docs): Merge documentation and main.c improvements from esp32-distance
  .vscode/tasks.json
  main/main.c
  tools/docu/open-doc-preview.sh
  tools/docu/serve-docs.sh
Due: none
