Repository enthali/esp32-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdown lint
        # markdownlint-cli is available globally via npm in the devcontainer
        entry: markdownlint --fix
        language: system
        types: [markdown]
        # Only run on markdown files in docs/ and root-level markdown files
        files: ^(docs/.*\.md|.*\.md)$
        stages: [pre-commit]
      - id: mkdocs-build
        name: MkDocs build (strict)
        # mkdocs is available in /opt/venv/bin in the devcontainer
        # Quiet mode suppresses INFO/DEBUG, only shows WARNING/ERROR
        entry: mkdocs build --strict
        language: system
        pass_filenames: false
        # Only run if docs/ or mkdocs.yml changed (skip for code-only commits)
        files: ^(docs/.*|mkdocs\.yml)$
        require_serial: true
        verbose: true
        stages: [pre-commit]

build: Add Sphinx, Sphinx-Needs, and Doxygen to DevContainer
  .devcontainer/Dockerfile
Due: none

docs: Add Sphinx-Needs documentation framework (Phase 1)
  .github/workflows/deploy-docs.yml
  .gitignore
  docs/11_requirements/index.rst
  docs/11_requirements/system.rst
  docs/12_design/index.rst
  docs/21_api/index.rst
  docs/31_traceability/index.rst
  docs/conf.py
  docs/index.rst
Due: mkdocs-build

chore: Remove OpenFastTrack config (replaced by Sphinx-Needs)
  docs/.oft.yml
Due: mkdocs-build

ci: Enable Sphinx build testing on feature branch & disable pre-commit
  .github/workflows/deploy-docs.yml
  .github/workflows/pre-commit.yml.disabled
Due: none

ci: Add GitHub Actions permissions for Pages deployment
  .github/workflows/deploy-docs.yml
Due: none

chore: Remove outdated documentation files for requirements, design, API, and traceability
  docs_old/11_requirements/index.rst
  docs_old/11_requirements/system.rst
  docs_old/12_design/index.rst
  docs_old/21_api/index.rst
  docs_old/31_traceability/index.rst
Due: none

docs: Fix Sphinx warnings and dark mode readability
  docs/_static/.gitkeep
  docs/_static/custom.css
  docs/conf.py
  docs/index.rst
Due: mkdocs-build

deploy: 9990aa24fc1bb635a8cf2dc38b597da64f308bb4
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/index.doctree
  11_requirements/index.html
  11_requirements/system.html
  12_design/index.html
  21_api/index.html
  31_traceability/index.html
  _sources/index.rst.txt
  _static/custom.css
  genindex.html
  index.html
  needs.json
  needs_id/REQ_SYS_ARCH_1.json
  needs_id/REQ_SYS_CFG_1.json
  needs_id/REQ_SYS_HW_1.json
  needs_id/REQ_SYS_NET_1.json
  needs_id/REQ_SYS_PERF_1.json
  needs_id/REQ_SYS_REL_1.json
  needs_id/REQ_SYS_SIM_1.json
  needs_id/REQ_SYS_WEB_1.json
  schema_violations.json
  search.html
  searchindex.js
Due: none

docs: Add component-level requirements with traceability
  docs/11_requirements/config-manager.rst
  docs/11_requirements/index.rst
  docs/11_requirements/netif-tunnel.rst
  docs/11_requirements/web-server.rst
Due: mkdocs-build

docs: Fix all Sphinx warnings - clean build achieved
  docs/11_requirements/config-manager.rst
  docs/11_requirements/netif-tunnel.rst
  docs/11_requirements/web-server.rst
  docs/31_traceability/index.rst
  docs/conf.py
Due: mkdocs-build

docs: Remove all MkDocs references and dependencies
  .devcontainer/Dockerfile
  .github/README.md
  .github/copilot-instructions.md
  .github/prompt-snippets/esp32-coding-standards.md
  .github/prompt-snippets/oft-requirements.md
  README.md
  mkdocs.yml
Due: markdownlint, mkdocs-build

Checkpoint from VS Code for coding agent session
  docs/10_architecture/index.rst
  docs/10_architecture/overview.rst
  docs/12_design/config-manager.rst
  docs/12_design/index.rst
  docs/12_design/system-architecture.rst
  docs/90_guides/debugging.rst
  docs/90_guides/devcontainer.rst
  docs/90_guides/index.rst
  docs/90_guides/qemu-emulator.rst
  docs/90_guides/qemu-network-internals.rst
  docs/index.rst
  docs/legal/datenschutz.rst
  docs/legal/impressum.rst
  docs_old/api/README.md
  docs_old/architecture/README.md
  docs_old/design/README.md
  docs_old/design/config-design.md
  docs_old/design/system-design.md
  docs_old/requirements/README.md
  docs_old/requirements/config-requirements.md
  docs_old/requirements/system-requirements.md
  docs_old/requirements/web-server-requirements.md
Due: markdownlint, mkdocs-build

chore: Clean up docs_old - save assets and remove old documentation
  docs/_static/images/ESP32_Relais_X2.jpg
  docs/_static/images/USB Serial.jpg
  docs/_static/images/UltrasonicSensor.jpg
  docs/_static/images/WS2812Stripe.jpg
  docs/_static/images/build-button.png
  docs/_static/images/build-result.png
  docs/_static/images/clean-button.png
  docs/_static/images/codespace_README.png
  docs/_static/images/create-codespace.png
  docs/_static/images/esp-idf-web-install.png
  docs/_static/images/flash-button.png
  docs/_static/images/flash-done.png
  docs/_static/images/fork-repro.png
  docs/_static/images/fork-repro2.png
  docs/_static/images/monitor-button.png
  docs/_static/images/monitoring.png
  docs/_static/images/select-serial-port.png
  docs/_static/images/setup.jpg
  docs_old/conf.py
  docs_old/development/README.md
  docs_old/development/debugging.md
  docs_old/development/devcontainer.md
  docs_old/development/pre-commit-hooks.md
  docs_old/development/qemu-emulator.md
  docs_old/development/qemu-network-internals.md
  docs_old/emulator-support.md
  docs_old/index.md
  docs_old/index.rst
  docs_old/javascripts/mermaid-init.js
  docs_old/known-limitations.md
Due: markdownlint, mkdocs-build

refactor(docs): Consolidate architecture documentation into single high-level spec
  docs/10_architecture/index.rst
  docs/10_architecture/overview.rst
  docs/12_design/high-level-architecture.rst
  docs/12_design/index.rst
  docs/12_design/system-architecture.rst
  docs/index.rst
Due: mkdocs-build

fix(devcontainer): Remove hardcoded paths and obsolete post-start script
  .devcontainer/devcontainer.json
  .devcontainer/post-start.sh
  .github/workflows/deploy-docs.yml
  tools/ensure-network-stack.sh
  tools/http_proxy.py
  tools/run-qemu-network.sh
  tools/serial_tun_bridge.py
  tools/stop_qemu.sh
  tools/view_uart1.sh
Due: none

fix(tools): Remove duplicate lines and old path in ensure-network-stack.sh
  tools/ensure-network-stack.sh
Due: none

refactor(main): Update application entry point description and enhance initialization logic
  main/CMakeLists.txt
  main/main.c
Due: none

docs: Redesign landing page - remove redundant toctree, add quick start and roadmap
  docs/index.rst
Due: mkdocs-build

ci(deploy-docs): include feature/sphinx-needs-documentation branch in push trigger
  .github/workflows/deploy-docs.yml
Due: none

docs: Hide toctree from rendering but keep for sidebar navigation
  docs/index.rst
Due: mkdocs-build

refactor(config): improve REST API lifecycle and remove manual traceability
  docs/12_design/config-manager.rst
  docs/12_design/high-level-architecture.rst
  docs/90_guides/index.rst
  docs/90_guides/known-issues.rst
  docs/index.rst
Due: mkdocs-build

ci(deploy-docs): add caching for Python and APT dependencies
  .github/workflows/deploy-docs.yml
Due: none

fix(traceability): simplify Sphinx-Needs directives
  docs/12_design/config-manager.rst
Due: mkdocs-build

ci: add docs/requirements.txt for consistent dependency management
  .github/workflows/deploy-docs.yml
  docs/requirements.txt
Due: mkdocs-build

docs: remove manual document metadata and simplify traceability in design docs
  docs/12_design/config-manager.rst
  docs/12_design/high-level-architecture.rst
Due: mkdocs-build

docs: include graphviz in docs/requirements.txt
  docs/requirements.txt
Due: mkdocs-build
