Repository enthali/esp32-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mkdocs-build

markdownlint:
  name: Markdown lint
  entry: markdownlint --fix
  language: system
  stages:
  - pre-commit

mkdocs-build:
  name: MkDocs build (strict)
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

fix: add graphviz Python package and fix pip cache invalidation
  .github/workflows/deploy-docs.yml
Due: none

fix: configure needflow to use SVG format with proper graphviz libraries
  .github/workflows/deploy-docs.yml
  docs/conf.py
Due: mkdocs-build

docs: use http code-block for REST API examples in docs/12_design/config-manager.rst
  docs/12_design/config-manager.rst
Due: mkdocs-build

fix: remove unreliable APT cache, use direct install for graphviz
  .github/workflows/deploy-docs.yml
Due: none

docs: Rename documentation files with req_/spec_ prefixes
  docs/11_requirements/index.rst
  docs/11_requirements/req_config_manager.rst
  docs/11_requirements/req_netif_tunnel.rst
  docs/11_requirements/req_system.rst
  docs/11_requirements/req_web_server.rst
  docs/12_design/index.rst
  docs/12_design/spec_config_manager.rst
  docs/12_design/spec_high_level_architecture.rst
Due: mkdocs-build

docs(requirements): Align requirements with design specifications
  docs/11_requirements/req_config_manager.rst
  docs/11_requirements/req_netif_tunnel.rst
  docs/11_requirements/req_system.rst
  docs/11_requirements/req_web_server.rst
Due: mkdocs-build

feat: enable Desktop-Lite and configure noVNC port forwarding in devcontainer
  .devcontainer/devcontainer.json
Due: none

fix: update Python interpreter paths in VSCode settings
  .vscode/settings.json
Due: none

feat: add Python extension and update VSCode settings for improved Python support
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

feat: add VNC setup scripts and configure automatic VNC server start in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup-vnc.sh
  README.md
  tools/start-vnc.sh
Due: markdownlint

feat(gui): Add QEMU graphics support with noVNC integration
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  tools/run-qemu-graphics-run.sh
  tools/run-qemu-graphics.sh
Due: markdownlint

feat(gui): Upgrade to XFCE4 desktop with German keyboard support
  .devcontainer/Dockerfile
  .devcontainer/setup-vnc.sh
  .vscode/launch.json
  README.md
  tools/switch-keyboard.sh
Due: markdownlint

Rename README.md to INDEX.md
  .github/INDEX.md
Due: markdownlint

fix(vnc): ensure /tmp permissions are set for VNC server user esp
  .devcontainer/setup-vnc.sh
Due: none

feat: add emulator network connectivity requirements for QEMU testing
  docs/11_requirements/req_system.rst
Due: mkdocs-build

fix(vnc): ensure /tmp permissions are set on container start
  .devcontainer/devcontainer.json
Due: none

fix(vnc): set /tmp permissions permanently in Dockerfile and remove redundant commands
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup-vnc.sh
Due: none

fix(vnc): update VNC setup script to include instructions for fixing /tmp permissions
  .devcontainer/setup-vnc.sh
Due: none

fix: Use custom TMPDIR for VNC to avoid /tmp permission issues
  .devcontainer/Dockerfile
Due: none

fix: Use TMPDIR for VNC instead of fixing /tmp permissions
  .devcontainer/Dockerfile
  .devcontainer/setup-vnc.sh
Due: none

refactor(config): Implement metadata-driven dual-table configuration system
  docs/12_design/spec_config_manager.rst
  main/components/config_manager/config_manager.c
  main/components/config_manager/config_manager.h
  main/config.h
Due: mkdocs-build

fix(config): Fix format specifiers and update web_server to new API
  main/components/config_manager/config_manager.c
  main/components/web_server/web_server.c
Due: none

docs(guides): Add comprehensive GUI and graphics development guide
  docs/90_guides/gui-development.rst
  docs/90_guides/index.rst
Due: mkdocs-build

refactor(Dockerfile): Update TMPDIR setup for VNC to improve clarity and avoid permission issues
  .devcontainer/Dockerfile
Due: none

feat(devcontainer): Add on-start script to set /tmp permissions
  .devcontainer/devcontainer.json
  .devcontainer/on-start.sh
Due: none

refactor(devcontainer): Consolidate VNC setup scripts and update commands for improved clarity
  .devcontainer/devcontainer.json
  .devcontainer/on-start.sh
  tools/on-create.sh
  tools/on-start.sh
Due: none

fix(scripts): Ensure proper execution logging in VNC setup and startup scripts
  tools/on-create.sh
  tools/on-start.sh
Due: none

fix(devcontainer): Correct path for postCreateCommand and postStartCommand in devcontainer.json feat: Add .on-start-ran file to log startup time
  .devcontainer/devcontainer.json
  .on-start-ran
Due: none

feat(devcontainer): Add postAttachCommand and on-attach script for VNC permissions setup
  .devcontainer/devcontainer.json
  .gitignore
  .on-start-ran
  tools/on-attach.sh
Due: none

fix(scripts): Update timestamp logging in on-attach, on-create, and on-start scripts for consistency
  .on-attach-ran
  .on-start-ran
  tools/on-attach.sh
  tools/on-create.sh
  tools/on-start.sh
Due: none

fix(scripts): Remove obsolete on-attach and on-start execution logs
  .on-attach-ran
  .on-start-ran
Due: none

fix(.gitignore): Clarify devcontainer lifecycle marker files section
  .gitignore
Due: none

refactor(main): Update WiFi manager initialization for QEMU mode and clean up comments
  main/main.c
  tools/ensure-network-stack.sh
  tools/on-start.sh
Due: none

Path conditions:
  markdownlint: any of: ^(docs/.*\.md|.*\.md)$ and \.(md|markdown|mdown)$
  mkdocs-build: any of: ^(docs/.*|mkdocs\.yml)$
