Repository enthali/esp32-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mkdocs-build

markdownlint:
  name: Markdown lint
  entry: markdownlint --fix
  language: system
  stages:
  - pre-commit

mkdocs-build:
  name: MkDocs build (strict)
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

refactor(web_server): Update device references to ESP32 Template and enhance WiFi status display
  main/components/web_server/web_server.c
  main/components/web_server/www/index.html
  main/components/web_server/www/js/app.js
Due: none

feat(web_server): Add favicon support and WiFi status API endpoint
  main/components/web_server/CMakeLists.txt
  main/components/web_server/web_server.c
  main/components/web_server/www/favicon.svg
  main/components/web_server/www/index.html
  main/components/web_server/www/settings.html
  main/components/web_server/www/wifi-setup.html
Due: none

docs: Add JSON config system design document (flash-optimized)
  TODO-JSON-Config-System.md
Due: markdownlint

docs: Add JSON config system requirements with MECE analysis
  .github/prompts/mece-requrement-analysis.prompt.md
  TODO-JSON-Config-System.md
  docs/11_requirements/index.rst
  docs/11_requirements/req_config_manager.rst
  docs/11_requirements/req_config_manager_json.rst
  docs/11_requirements/req_system.rst
  docs/11_requirements/req_web_server.rst
  docs/12_design/index.rst
  docs/12_design/spec_config_manager.rst
  docs/12_design/spec_config_manager_json.rst
  docs/12_design/spec_high_level_architecture.rst
  docs/12_design/spec_web_server.rst
  docs/requirements/analysis/all-requirements-mece-analysis.md
Due: markdownlint, mkdocs-build

feat(config): Implement JSON schema-driven configuration system
  .vscode/tasks.json
  main/components/config_manager/CMakeLists.txt
  main/components/config_manager/config_factory_generated.c
  main/components/config_manager/config_manager.c
  main/components/config_manager/config_manager.h
  main/components/config_manager/config_schema.json
  main/components/web_server/web_server.c
  main/components/web_server/wifi_manager.c
  main/components/web_server/www/settings.html
  tools/generate_config_factory.py
  tools/http_proxy.py
Due: none

feat(http_proxy): Enhance response handling with Content-Length support
  tools/http_proxy.py
Due: none

feat(web_server): Improve configuration save response handling and disable auto-restart for debugging
  main/components/web_server/web_server.c
  main/components/web_server/www/settings.html
Due: none

feat(config): Add Access Point configuration parameters and update factory defaults
  main/components/config_manager/config_factory_generated.c
  main/components/config_manager/config_schema.json
  main/components/web_server/wifi_manager.c
Due: none

feat(config): Disable emulator target configuration in sdkconfig
  sdkconfig
Due: none

feat(browser): Add code-server integration for browser-based development
  .devcontainer/CODE_SERVER.md
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/settings.json
  docs/90_guides/browser-access.md
  tools/on-start.sh
Due: markdownlint, mkdocs-build

Add new status option and remove outdated MECE analysis document; introduce configuration webpage design specification
  docs/11_requirements/req_config_manager_json.rst
  docs/12_design/index.rst
  docs/12_design/spec_config_manager_json.rst
  docs/12_design/spec_config_webpage.rst
  docs/12_design/spec_web_server.rst
  docs/conf.py
  docs/requirements/analysis/all-requirements-mece-analysis.md
  main/components/web_server/web_server.c
Due: markdownlint, mkdocs-build

feat(gitignore): Add config_factory_generated.c to ignore list for project files
  .gitignore
Due: none

feat(config): Implement bulk JSON configuration API and update factory defaults handling
  main/components/config_manager/config_factory_generated.c
  main/components/config_manager/config_manager.c
  main/components/config_manager/config_manager.h
  main/components/web_server/web_server.c
  main/components/web_server/www/settings.html
  tools/generate_config_factory.py
Due: none

feat(config): Add config_set_int32_no_commit function and remove static endpoint for config schema
  main/components/config_manager/CMakeLists.txt
  main/components/config_manager/config_manager.c
  main/components/web_server/web_server.c
Due: none

feat(tools): Organize web-flasher into dedicated subdirectory
  README.md
  tools/web-flasher/README.md
  tools/web-flasher/flasher_server.py
  tools/web-flasher/generate-flasher-manifest.sh
  tools/web-flasher/start-web-flasher.sh
  tools/web-flasher/stop-web-flasher.sh
  tools/web-flasher/web-flasher.html
Due: markdownlint

feat(web-flasher): Add robustness and auto-restart capability
  tools/web-flasher/flasher_server.py
  tools/web-flasher/generate-flasher-manifest.sh
  tools/web-flasher/start-web-flasher.sh
Due: none

feat(config): Add config_set_int16_no_commit function for non-committing integer updates
  main/components/config_manager/config_manager.c
Due: none

feat(config): Enable auto-restart and schema-driven group labels
  main/components/config_manager/config_schema.json
  main/components/web_server/web_server.c
  main/components/web_server/www/settings.html
Due: none

refactor(web-flasher): Make title generic and show project name dynamically
  tools/web-flasher/web-flasher.html
Due: none

chore: no-op commit (no file changes)
  README.md
  docs/index.md
  docs/requirements/README.md
Due: markdownlint, mkdocs-build

refactor(tools): Reorganize tools directory into logical subdirectories
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  main/components/cert_handler/CMakeLists.txt
  main/components/config_manager/CMakeLists.txt
  tools/README.md
  tools/certificates/generate_cert.py
  tools/config/generate_config_factory.py
  tools/devcontainer/on-attach.sh
  tools/devcontainer/on-create.sh
  tools/devcontainer/on-start.sh
  tools/network/ensure-network-stack.sh
  tools/network/http_proxy.py
  tools/qemu/run-qemu-graphics-run.sh
  tools/qemu/run-qemu-graphics.sh
  tools/qemu/run-qemu-network.sh
  tools/qemu/serial_tun_bridge.py
  tools/qemu/stop_qemu.sh
  tools/qemu/view_uart1.sh
  tools/system/start-vnc.sh
  tools/system/switch-keyboard.sh
  tools/testing/test_crypto.py
Due: markdownlint

fix(tools): Correct PROJECT_DIR path calculation after reorganization
  tools/network/ensure-network-stack.sh
  tools/qemu/run-qemu-graphics-run.sh
  tools/qemu/run-qemu-graphics.sh
  tools/qemu/run-qemu-network.sh
  tools/qemu/stop_qemu.sh
  tools/qemu/view_uart1.sh
Due: none

refactor(devcontainer): Remove code-server port from forwarding configuration feat(sdkconfig): Enable emulator support and mock data configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  sdkconfig
Due: none

delete: Remove TODO-JSON-Config-System.md as part of the JSON-based configuration system implementation
  TODO-JSON-Config-System.md
Due: markdownlint

fix(web-flasher): Update script permissions for generate, start, and stop scripts
  tools/web-flasher/generate-flasher-manifest.sh
  tools/web-flasher/start-web-flasher.sh
  tools/web-flasher/stop-web-flasher.sh
Due: none

docs(build): Replace MkDocs with Sphinx in quality tools
  .github/actions/setup-coding-agent-env/README.md
  .github/actions/setup-coding-agent-env/action.yml
  .github/prompts/coding-agent-feature.prompt.md
  .github/workflows/pre-commit.yml.disabled
  .gitignore
  .pre-commit-config.yaml
Due: markdownlint

fix(prompts): Update output file path for MECE analysis results
  .github/copilot-instructions.md
  .github/prompts/mece-requrement-analysis.prompt.md
Due: markdownlint

chore: Remove disabled pre-commit workflow
  .github/workflows/pre-commit.yml.disabled
Due: none

docs: Make documentation repository-agnostic and devcontainer-focused
  .github/prompt-snippets/build-instructions.md
  .github/prompts/coding-agent-feature.prompt.md
  .github/workflows/deploy-docs.yml
Due: markdownlint

docs: Drastically simplify development workflow documentation
  .github/prompt-snippets/development.md
Due: markdownlint

docs: Reduce token usage in prompt-snippets files
  .github/prompt-snippets/build-instructions.md
  .github/prompt-snippets/commit-message.md
  .github/prompt-snippets/esp32-coding-standards.md
  .github/prompt-snippets/readme.md
Due: markdownlint

docs: Update build instructions and coding standards for component structure and troubleshooting
  .github/prompt-snippets/build-instructions.md
  .github/prompt-snippets/commit-message.md
  .github/prompt-snippets/development.md
  .github/prompt-snippets/esp32-coding-standards.md
Due: markdownlint

feat(docs): Add project consistency and quality analysis prompts
  .github/prompts/maintain-docu-consistency.prompt.md
  .github/prompts/validate-code-quality.prompt.md
  .github/prompts/verify-requirements-traceability.prompt.md
Due: markdownlint

fix(docs): Implement consistency analysis recommendations
  .devcontainer/CODE_SERVER.md
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .github/prompt-snippets/commit-message.md
  .github/prompt-snippets/development.md
  .github/prompt-snippets/esp32-coding-standards.md
  .github/workflows/deploy-docs.yml
  README.md
  main/components/cert_handler/README.md
  main/components/netif_uart_tunnel/README.md
  tools/README.md
  tools/web-flasher/README.md
Due: markdownlint

refactor(docs): Reduce README to elevator pitch, move details to Sphinx docs
  README.md
Due: markdownlint

docs: Remove usage instructions from consistency and code quality prompts
  .github/prompts/maintain-docu-consistency.prompt.md
  .github/prompts/validate-code-quality.prompt.md
Due: markdownlint

feat(prompts): Add README length and duplication checks to consistency prompt
  .github/prompts/maintain-docu-consistency.prompt.md
Due: markdownlint

refactor(on-start.sh): Remove code-server startup logic for GitHub Codespaces
  tools/devcontainer/on-start.sh
Due: none

rename for to better capture task
  .github/prompts/analyze-api-documentation.prompt.md
  .github/prompts/analyze-code-quality.prompt.md
  .github/prompts/analyze-docu-consistency.prompt.md
  .github/prompts/analyze-requirements-mece.prompt.md
  .github/prompts/analyze-requirements-traceability.prompt.md
  .github/prompts/generate-feature(coding-agent).prompt.md
Due: markdownlint

feat(conf.py): Add API documentation types and options for Sphinx-Needs
  docs/conf.py
Due: mkdocs-build

Path conditions:
  markdownlint: any of: ^(docs/.*\.md|.*\.md)$ and \.(md|markdown|mdown)$
  mkdocs-build: any of: ^(docs/.*|mkdocs\.yml)$
